.swiper {
    width: 100%;
    height: 50vh;
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid black;
}

.swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 25px Arial, Helvetica, sans-serif;
}

.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper-with-image-pagination {
    height: 60vh;
}

.swiper-with-image-pagination .swiper-wrapper {
    height: 80%;
}

.thumbs-slider {
    height: 20%;
}

.swiper-with-image-pagination .thumbs-wrapper {
    height: 100%;
    background-color: black;
    align-items: center;
}

.thumbnail-img {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 90%;
}

.thumbnail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper-slide-thumb-active {
    opacity: 1;
}


